on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  workflow_dispatch:
    branches: [master]

name: Deploy to GitHub Pages
    
jobs:
  deploy-to-github-pages:
    # use ubuntu-latest image to run steps on
    runs-on: ubuntu-latest
    steps:
    # uses GitHub's checkout action to checkout code form the master branch
    - uses: actions/checkout@v2
    
    - name: Change twitch redirect to GH pages
      run: |
        sed -i 's/localhost:5001/ssbm-oro.github.io\/LadderTwitchScheduler/g' src/LadderTwitchScheduler/Pages/Index.razor
        sed -i s/xxVERSIONxx/${GITHUB_REF/refs\/tags\//}/ src/LadderTwitchScheduler/Shared/MainLayout.razor
    
    # sets up .NET Core SDK 3.1
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1
        
    # publishes Blazor project to the release-folder
    - name: Publish .NET Core Project
      run: dotnet publish src/LadderTwitchScheduler/LadderTwitchScheduler.csproj -c Release -o release --nologo

    # changes the base-tag in index.html from '/' to 'LadderTwitchScheduler' to match GitHub Pages repository subdirectory
    - name: Change base-tag in index.html from / to LadderTwitchScheduler
      run: sed -i 's/<base href="\/" \/>/<base href="\/LadderTwitchScheduler\/" \/>/g' release/wwwroot/index.html
      


    # add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project. (Allow files and folders starting with an underscore)
    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll

    - name: Commit wwwroot to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: release/wwwroot
